<!-- index.html -->
{% load static %}
<html>
<head>
    <header>
        <div class="Starter">

            <h1 id="output" style="color: white; text-align: center; margin-bottom: 80px; margin-top: 50px;"></h1>
        </div>
    </header>
<script>
window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer", {
        exportEnabled: true,
        animationEnabled: true,
        theme: "dark2",
        title: {
            text: "VSTeam user"
        },
        axisX: {
            valueFormatString: "MMM"
        },
        axisY: {
            title: "User Count"
        },
        toolTip: {
            shared: true
        },
        legend: {
            cursor: "pointer",
            verticalAlign: "top",
            itemclick: toggleDataSeries
        },
        data: [{
            type: "line",
            name: "2023",
            showInLegend: true,
            yValueFormatString: "#,##0",
            dataPoints: [
    {% for data_point in user_data_2023 %}
        { x: new Date("{{ data_point.month|date:'Y-m-01' }}"), y: {{ data_point.user_count }} },
    {% endfor %}
]
        },{
            type: "line",
            name: "2024",
            showInLegend: true,
            yValueFormatString: "#,##0",
            dataPoints: [
    {% for data_point in user_data_2024 %}
        { x: new Date("{{ data_point.month|date:'Y-m-01' }}"), y: {{ data_point.user_count }} },
    {% endfor %}
]
        }]
    });
    chart.render();

    function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        } else {
            e.dataSeries.visible = true;
        }
        e.chart.render();
    }

}
const text = "Welcome to the charts page! Here you will find graphs showing the number of registered users. Let's study the data together and draw interesting conclusions. Let's go!";
let index = 0;

function typeText() {
    document.getElementById('output').innerHTML += text[index];
    index++;
    if (index < text.length) {
        setTimeout(typeText, 50);
    }
}

typeText();

</script>
</head>
<body>
    <div id="chartContainer" style="width: 100%; height: 360px;"></div>
    <script src="{% static 'canvasjs.stock.min.js' %}"></script>
<style>
body {
background-color: black;
}
    @font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
.Starter{

    font-family: 'Rocher';
    }
</style>
</body>
</html>
