<!— index.html —>
{% load static %}
<html>
<head>
<title>CanvasJS Python Charts</title>
<script src="{% static 'canvasjs.min.js' %}"></script>
<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light2", // "light1", "dark1", "dark2"
            animationEnabled: true,
            title:{
                text: "Try Zooming and Panning"
            },
            data: [{
                type: "area",
                dataPoints: {{ datapoints | safe }}
            }]
        });
        chart.render();
    }
</script>
</head>
<body>
    <div id="chartContainer" style="width: 100%; height: 360px;"></div>
</body>
</html>
